<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="lol"
            connectionString="Data Source=ZBC-EVB-SKP2411\TERRAXSQL;Initial Catalog=TerraxDB;Persist Security Info=True;User ID=sa;Password=myggen1043"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>