<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="databaseConnectionString" connectionString="Data Source=ZBC-EVB-SKP2411\TERRAXSQL;Initial Catalog=food;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="FoodProgram.Properties.Settings.foodConnectionString"
            connectionString="Data Source=ZBC-EVB-SKP2411\TERRAXSQL;Initial Catalog=food;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="FoodProgram.Properties.Settings.TerraxDBConnectionString"
            connectionString="Data Source=ZBC-EVB-SKP2411\TERRAXSQL;Initial Catalog=TerraxDB;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>